*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background:rgb(245, 245, 245);
    display: flex;
    /* width: 100%; */
}
nav{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #fff;
    overflow: hidden;

}
ul li{
list-style: none;
}

 ul li a i:hover{
/* background-color: #dfe9f5; */
color: #dfe9f5;
}

.a1{
    background-color: rgb(255, 247, 247);
}

.one img{
    border-radius: 50%;
    height: 15%;
    width: 15%;
    margin-right:30px;
}
.one{
    display: flex;
}
.card{
    /* background-color: rgb(243, 239, 239); */
    background:rgb(245, 245, 245);

}
p{
    font-size: 14px;
}
hr{
    color: blue;
    
}
.font{
    font-size: 10px;
}
section{
    /* width:50%; */
    /* position: absolute; */
    height:20vh;
    /* background-color: rgb(50, 50, 242); */
    /* margin-top: 20%; */
}
.second{
    height:200%;
}

.box{
    position: absolute;
    top:30%;
    /* left:5%; */
    transform: translateX(-50%, -50%);
    width: 550px;
    height:30%;
    background-color: transparent;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    display: flex;
}

.box .skill{
    position: relative;
    flex: 1;
    text-align: center;
}

.box .skill .graph{
    position: absolute;
    width: 20px;
    background: rgba(0,0,0,.1);
    bottom: 0;
    left: 10%;
    transform: rotateX(-50%);
}

.box .skill .graph:before{
    content: '';
    position: absolute;
    top: 2px;
    left: 1px;
    right: 1px;
    bottom: 0;
    background: blueviolet;
}

.box .skill .graph:after{
    content: '';
    position: absolute;
top: 0;
left: 0;
width: 50%;
height: 100%;
background: #ffffff1a;
}
.box .skill .graph .percent{
     position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color:black;
    font-weight: bold; 
}
.box .skill .name{
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #000;
    padding: 2px 6px;
    border-radius: 4px;
}
 


.container-a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

}
.container-a .progress{
    position: relative;
    width:60px;
    height:60px;
    border-radius: 50%;
    color:black;
    background: #444 linear-gradient(to right, transparent 50%, var(--clr)0);
}
.container-a .progress h3{
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
font-size: 1.3em;
z-index: 1;
font-weight: 500;
}
.container-a .progress h3 span{
    font-size: 0.68em;
    font-weight: 400;
}

.container-a .progress h4{
    position: absolute;
    font-size:0.8em;
    top:70%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    font-weight: 500;
    text-transform: uppercase;
}
.container-a .progress::before{
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}
.container-a .progress::after{
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    background:white;
}
.container-a .progress::before{
    background: var(--clr);
    transform: rotate(calc(((var(--i) * 0.01turn))));
}
.container-a .progress.less::before{
    background: #444;
    transform: rotate(calc(((var(--i) - 0) * 0.01turn)));


}
.container-b{
    position: absolute;
    top:65%;
}
